#map-component {
	height: 100%;
	
	.angular-google-map{
		height: 100%;
	}
	
	.angular-google-map-container 
	{ 
		height: 100%;
	}
}

#search-component {
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	border: solid grey 1px;
	
	position:fixed;
	z-index: 1;
    top: 2%;
    left: 50%;
	width: 50%;
	margin-left: -25%;
    vertical-align: middle;
	
	#search-text {
		width: 58%;
		float: left;
	}
	
	.search-button {
		width: 20%;
		float: right;
        margin-right: 3px;
        line-height: 1.5; 
	}
}
